[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
apscheduler = "*"
cfenv = "*"
requests = "*"
gunicorn = "*"

[dev-packages]
httpretty = "*"
pytest = "*"

[requires]
python_version = "3.6"
